@use 'variables' as v;

.button-discount{
    border: none;
    font-size: v.$F-size;
    background-color: v.$Very-dark-cyan;
    color: v.$White;
    padding: 6px 0;
    border-radius: 10px;
    cursor: pointer;

    transition: .2s;
}

.button-discount:hover{
    background-color: v.$cyan;
}


.button--active{
    background-color: v.$cyan;
    transform: scale(.95);
    color: v.$Very-dark-cyan;
}