@use 'variables' as v;

/* contenedor proncipal */
.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // padding: 20px;
    width: 100%;

    @media (min-width:992px) {
        width: 50%;
    }
}

input {
    border: none;
    outline: none;
    font-family: v.$Font;
    background-color: v.$Very-light-grayish-cyan;
    border-radius: 5px;
    padding: 5px;
    text-align: right;
    color: v.$Very-dark-cyan;

    transition: .1s;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    display: none;
}

input:focus {
    border: none;
    outline: 2px solid v.$cyan;
}




/* Contendor de los inputs y labels */
.label-input {
    display: flex;
    flex-direction: column;
    position: relative;

}

.input-cash {
    position: relative;
}

.placeholder {
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 20px;
    position: absolute;
    left: 8px;
    top: 40px;
}

.placeholder-cash {
    background-image: url('../../assets/images/icon-dollar.svg');
}

.placeholder-people {
    background-image: url('../../assets/images/icon-person.svg');
    width: 20px;
}



.label {
    color: v.$Dark-grayish-cyan;
    font-size: .7em;
}

.label-button {
    font-size: .7em;
}


/* Contenedor de los botones */
.buttons-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(80px, 1fr));
    gap: 10px;

    // width: 100%;
    @media (min-width:992px) {
        grid-template-columns: repeat(3, minmax(115px, 1fr));
    }
}
.label-people {
    font-size: .55em;
    letter-spacing: 1px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: .2s;
    .label-error {
        color: crimson;
        font-size: .7em;
        opacity: 0;

        transition: .2s;
    }

    @media (min-width:992px) {
        font-size: .7em;
    }
}

.label-people.error > .label-error{
    opacity: 1;
}

.label-people.error + .input-people{
    border: 2px solid crimson;
}

